## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates
.vs/
*.swp
*~
.vscode/
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets
project.lock.json

## OS
.DS_Store
Thumbs.db

## Uno Platform
.uno/
